---
import Layout from '../layouts/Layout.astro';
// icons
import Email from '../components/icons/email.astro';
import Github from '../components/icons/github.astro';
import Linkedin from '../components/icons/linkedin.astro';
---

<Layout title="Grogan Tech">
	<main class="flex justify-center w-full min-h-svh items-center">
		<div class="text-center flex flex-col gap-4 text-white">
			<h1 class="text-6xl">Grogan <span class="text-gradient">Tech</span></h1>
			<h2 class="uppercase">James Grogan - Software Engineer</h2>
			<div class="flex justify-center gap-6 text-gray-500">
				<a href="https://github.com/jamesgrogantech" target="_blank" rel="noopener" class="hover:text-gray-200" aria-label="Github Profile">
					<Github class="w-8 h-8" />
				</a>
				<a href="https://www.linkedin.com/in/james-grogan-software/" target="_blank" rel="noopener" class="hover:text-gray-200" aria-label="LinkedIn Profile">
					<Linkedin class="w-8 h-8" />
				</a>
				<a href="mailto:james@grogan.tech" class="hover:text-gray-200" aria-label="Email">
					<Email class="w-8 h-8" />
				</a>
				
		</div>
	</main>
</Layout>

<style>

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

</style>
